{% extends "users/base.html" %}


{% block head_content %}
    <title>
        Platzigram sign in
    </title>
{% endblock  %}


{% block container %}

    
    {% if form.errors %}
        <p class= "alert alert-danger"> 
            Your username and password didn't match. Try again.
        </p>
    {% endif %}
        

    <form method="POST" action='{% url "users:login" %}'>
        {% csrf_token %}
        <form-group>
            <input 
                class='form-control' 
                type="text" 
                name="username" 
                placeholder="Username" />

            <input 
                class='form-control' 
                type="password" 
                name="password" 
                placeholder="Password" />

        
        </form-group>

        <button class="btn btn-primary btn-block mt-5" type="submit">
            Sign in!
        </button>
        <p class="mt-4">Don't have an account yet? <a href='{% url "users:signup" %}'>Sign up here.</a></p>
    </form>
    

{% endblock  %}
